@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --third-color: #E09D94;
}

body{
  background: #FFF7CF;
}

.text-stroke{
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--third-color) ;
}