/* Webfont: FabulousPartyRegular */@font-face {
    font-family: 'FabulousParty';
    src: url('Fabulous Party.eot'); /* IE9 Compat Modes */
    src: url('Fabulous Party.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Fabulous Party.woff') format('woff'), /* Modern Browsers */
         url('Fabulous Party.woff2') format('woff2'), /* Modern Browsers */
         url('Fabulous Party.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

